<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">  
        <property name="driverClassName"  value="com.mysql.jdbc.Driver"></property>  
        <property name="url" value="jdbc:mysql://localhost:3306/sample_ua?useSSL=false"></property>  
        <property name="username" value="mandalasindhu"></property>  
        <property name="password" value="root123"></property>  
    </bean> 
    
   <bean id="sessionFactory" class="org.sprigframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
   <property name="dataSource" ref="dataSource"/>
   <property name="packageToSee" value="org.onlineshopping.model"/>   
   <property name="hibernateProperties">
   <props>
   
   <prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
   </props>
   
   </property>
   
   </bean>
   <bean id="customerDAO" class="com.onlineshopping.dao.CustomerDAO">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="stockDAO" class="com.onlineshopping.dao.StockDAO">
	<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="transDAO" class="com.onlineshopping.dao.TransactionDAO">
	<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
	<bean id="onlineShopping" class="com.onlineshopping.service.OnlineShoppingService">
		<property name="customerDAO" ref="customerDAO"></property>
		<property name="stockDAO" ref="stockDAO"></property>
		<property name="transDAO" ref="transDAO"></property>
	</bean>	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" />
	</bean>
   </beans>